SistemaBiblioteca/CapaPresentacionAppNativaWindows/Service References/EditorServicio/EditorServicio1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EditorServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5587/Catalogacion/EditorServicio.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5587/Catalogacion/EditorServicio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5587/Catalogacion/EditorServicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosWeb" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEditorServicio_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IEditorServicio_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IEditorServicio_Guardar_InputMessage">
    <wsdl:part name="parameters" element="tns:Guardar" />
  </wsdl:message>
  <wsdl:message name="IEditorServicio_Guardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarResponse" />
  </wsdl:message>
  <wsdl:message name="IEditorServicio_Lista_InputMessage">
    <wsdl:part name="parameters" element="tns:Lista" />
  </wsdl:message>
  <wsdl:message name="IEditorServicio_Lista_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaResponse" />
  </wsdl:message>
  <wsdl:message name="IEditorServicio_Editar_InputMessage">
    <wsdl:part name="parameters" element="tns:Editar" />
  </wsdl:message>
  <wsdl:message name="IEditorServicio_Editar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarResponse" />
  </wsdl:message>
  <wsdl:message name="IEditorServicio_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="IEditorServicio_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:message name="IEditorServicio_BuscarPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPorId" />
  </wsdl:message>
  <wsdl:message name="IEditorServicio_BuscarPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="IEditorServicio_Busqueda_InputMessage">
    <wsdl:part name="parameters" element="tns:Busqueda" />
  </wsdl:message>
  <wsdl:message name="IEditorServicio_Busqueda_OutputMessage">
    <wsdl:part name="parameters" element="tns:BusquedaResponse" />
  </wsdl:message>
  <wsdl:message name="IEditorServicio_BuscarPorDescripcion_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPorDescripcion" />
  </wsdl:message>
  <wsdl:message name="IEditorServicio_BuscarPorDescripcion_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPorDescripcionResponse" />
  </wsdl:message>
  <wsdl:message name="IEditorServicio_Existe_InputMessage">
    <wsdl:part name="parameters" element="tns:Existe" />
  </wsdl:message>
  <wsdl:message name="IEditorServicio_Existe_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExisteResponse" />
  </wsdl:message>
  <wsdl:portType name="IEditorServicio">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IEditorServicio/DoWork" message="tns:IEditorServicio_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEditorServicio/DoWorkResponse" message="tns:IEditorServicio_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Guardar">
      <wsdl:input wsaw:Action="http://tempuri.org/IEditorServicio/Guardar" message="tns:IEditorServicio_Guardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEditorServicio/GuardarResponse" message="tns:IEditorServicio_Guardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Lista">
      <wsdl:input wsaw:Action="http://tempuri.org/IEditorServicio/Lista" message="tns:IEditorServicio_Lista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEditorServicio/ListaResponse" message="tns:IEditorServicio_Lista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Editar">
      <wsdl:input wsaw:Action="http://tempuri.org/IEditorServicio/Editar" message="tns:IEditorServicio_Editar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEditorServicio/EditarResponse" message="tns:IEditorServicio_Editar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IEditorServicio/Eliminar" message="tns:IEditorServicio_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEditorServicio/EliminarResponse" message="tns:IEditorServicio_Eliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IEditorServicio/BuscarPorId" message="tns:IEditorServicio_BuscarPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEditorServicio/BuscarPorIdResponse" message="tns:IEditorServicio_BuscarPorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Busqueda">
      <wsdl:input wsaw:Action="http://tempuri.org/IEditorServicio/Busqueda" message="tns:IEditorServicio_Busqueda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEditorServicio/BusquedaResponse" message="tns:IEditorServicio_Busqueda_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarPorDescripcion">
      <wsdl:input wsaw:Action="http://tempuri.org/IEditorServicio/BuscarPorDescripcion" message="tns:IEditorServicio_BuscarPorDescripcion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEditorServicio/BuscarPorDescripcionResponse" message="tns:IEditorServicio_BuscarPorDescripcion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Existe">
      <wsdl:input wsaw:Action="http://tempuri.org/IEditorServicio/Existe" message="tns:IEditorServicio_Existe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEditorServicio/ExisteResponse" message="tns:IEditorServicio_Existe_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEditorServicio" type="tns:IEditorServicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IEditorServicio/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Guardar">
      <soap:operation soapAction="http://tempuri.org/IEditorServicio/Guardar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Lista">
      <soap:operation soapAction="http://tempuri.org/IEditorServicio/Lista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Editar">
      <soap:operation soapAction="http://tempuri.org/IEditorServicio/Editar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap:operation soapAction="http://tempuri.org/IEditorServicio/Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPorId">
      <soap:operation soapAction="http://tempuri.org/IEditorServicio/BuscarPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Busqueda">
      <soap:operation soapAction="http://tempuri.org/IEditorServicio/Busqueda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPorDescripcion">
      <soap:operation soapAction="http://tempuri.org/IEditorServicio/BuscarPorDescripcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Existe">
      <soap:operation soapAction="http://tempuri.org/IEditorServicio/Existe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EditorServicio">
    <wsdl:port name="BasicHttpBinding_IEditorServicio" binding="tns:BasicHttpBinding_IEditorServicio">
      <soap:address location="http://localhost:5587/Catalogacion/EditorServicio.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>