SistemaBiblioteca/CapaPresentacionAppNativaWindows/Service References/CiudadServicio/CiudadServicio3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/ServiciosWeb" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiciosWeb" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5587/Otros/CiudadServicio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfDCiudad">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DCiudad" nillable="true" type="tns:DCiudad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDCiudad" nillable="true" type="tns:ArrayOfDCiudad" />
  <xs:complexType name="DCiudad">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCiudad" type="ser:guid" />
      <xs:element minOccurs="0" name="IdPais" type="ser:guid" />
      <xs:element minOccurs="0" name="Pais" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DCiudad" nillable="true" type="tns:DCiudad" />
</xs:schema>