SistemaBiblioteca/CapaPresentacionAppNativaWindows/Service References/InstitucionServicio/InstitucionServicio1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InstitucionServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5587/Catalogacion/InstitucionServicio.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5587/Catalogacion/InstitucionServicio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5587/Catalogacion/InstitucionServicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosWeb" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInstitucionServicio_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IInstitucionServicio_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IInstitucionServicio_Guardar_InputMessage">
    <wsdl:part name="parameters" element="tns:Guardar" />
  </wsdl:message>
  <wsdl:message name="IInstitucionServicio_Guardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarResponse" />
  </wsdl:message>
  <wsdl:message name="IInstitucionServicio_Lista_InputMessage">
    <wsdl:part name="parameters" element="tns:Lista" />
  </wsdl:message>
  <wsdl:message name="IInstitucionServicio_Lista_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaResponse" />
  </wsdl:message>
  <wsdl:message name="IInstitucionServicio_BuscarPorDescripcion_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPorDescripcion" />
  </wsdl:message>
  <wsdl:message name="IInstitucionServicio_BuscarPorDescripcion_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPorDescripcionResponse" />
  </wsdl:message>
  <wsdl:message name="IInstitucionServicio_Existe_InputMessage">
    <wsdl:part name="parameters" element="tns:Existe" />
  </wsdl:message>
  <wsdl:message name="IInstitucionServicio_Existe_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExisteResponse" />
  </wsdl:message>
  <wsdl:portType name="IInstitucionServicio">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstitucionServicio/DoWork" message="tns:IInstitucionServicio_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstitucionServicio/DoWorkResponse" message="tns:IInstitucionServicio_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Guardar">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstitucionServicio/Guardar" message="tns:IInstitucionServicio_Guardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstitucionServicio/GuardarResponse" message="tns:IInstitucionServicio_Guardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Lista">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstitucionServicio/Lista" message="tns:IInstitucionServicio_Lista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstitucionServicio/ListaResponse" message="tns:IInstitucionServicio_Lista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarPorDescripcion">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstitucionServicio/BuscarPorDescripcion" message="tns:IInstitucionServicio_BuscarPorDescripcion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstitucionServicio/BuscarPorDescripcionResponse" message="tns:IInstitucionServicio_BuscarPorDescripcion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Existe">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstitucionServicio/Existe" message="tns:IInstitucionServicio_Existe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstitucionServicio/ExisteResponse" message="tns:IInstitucionServicio_Existe_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IInstitucionServicio" type="tns:IInstitucionServicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IInstitucionServicio/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Guardar">
      <soap:operation soapAction="http://tempuri.org/IInstitucionServicio/Guardar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Lista">
      <soap:operation soapAction="http://tempuri.org/IInstitucionServicio/Lista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPorDescripcion">
      <soap:operation soapAction="http://tempuri.org/IInstitucionServicio/BuscarPorDescripcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Existe">
      <soap:operation soapAction="http://tempuri.org/IInstitucionServicio/Existe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InstitucionServicio">
    <wsdl:port name="BasicHttpBinding_IInstitucionServicio" binding="tns:BasicHttpBinding_IInstitucionServicio">
      <soap:address location="http://localhost:5587/Catalogacion/InstitucionServicio.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>