SistemaBiblioteca/CapaPresentacionAppNativaWindows/Service References/PrestamoServicio/PrestamoServicio3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5587/Prestamo/PrestamoServicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosWeb" />
  <xs:import schemaLocation="http://localhost:5587/Prestamo/PrestamoServicio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiciosWeb" minOccurs="0" name="Prestamo" nillable="true" type="q1:DPrestamo" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiciosWeb" minOccurs="0" name="BibliografiaPrestar" nillable="true" type="q2:ArrayOfDInventario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Editar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiciosWeb" minOccurs="0" name="Prestamo" nillable="true" type="q3:DPrestamo" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiciosWeb" minOccurs="0" name="BibliografiaPrestar" nillable="true" type="q4:ArrayOfDInventario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdPrestamo" type="q5:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Lista">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServiciosWeb" minOccurs="0" name="Prestamo" nillable="true" type="q6:DPrestamo" />
        <xs:element minOccurs="0" name="Inicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Final" type="xs:dateTime" />
        <xs:element minOccurs="0" name="EdadMinima" type="xs:int" />
        <xs:element minOccurs="0" name="EdadMaxima" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ServiciosWeb" minOccurs="0" name="ListaResult" nillable="true" type="q7:ArrayOfDPrestamo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdPrestamo" type="q8:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ServiciosWeb" minOccurs="0" name="BuscarPorIdResult" nillable="true" type="q9:DPrestamo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPorN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="N" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPorNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ServiciosWeb" minOccurs="0" name="BuscarPorNResult" nillable="true" type="q10:DPrestamo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdPrestamo" type="q11:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ServiciosWeb" minOccurs="0" name="ListadoDetalleResult" nillable="true" type="q12:ArrayOfDDetallePrestamo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPorRegistro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Registro" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPorRegistroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ServiciosWeb" minOccurs="0" name="BuscarPorRegistroResult" nillable="true" type="q13:DInventario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Busqueda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Inicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Final" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Persona" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusquedaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ServiciosWeb" minOccurs="0" name="BusquedaResult" nillable="true" type="q14:ArrayOfDPrestamo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Entregar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdInventario" type="q15:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EntregarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Solvencia">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SolvenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ServiciosWeb" minOccurs="0" name="SolvenciaResult" nillable="true" type="q16:ArrayOfDInventario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>