SistemaBiblioteca/AppWeb/Service References/InformePrestamoServicio/InformePrestamoServicio2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5587/Prestamo/InformePrestamoServicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosWeb" />
  <xs:import schemaLocation="http://localhost:5587/Prestamo/InformePrestamoServicio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PrestamosPorDepartamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Anual" type="xs:short" />
        <xs:element minOccurs="0" name="Modalidad" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="Departamento" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrestamosPorDepartamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiciosWeb" minOccurs="0" name="PrestamosPorDepartamentoResult" nillable="true" type="q1:ArrayOfDCantidadMensual3Columnas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrestamosPorCarrera">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Anual" type="xs:short" />
        <xs:element minOccurs="0" name="Modalidad" type="xs:unsignedByte" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="Carrera" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrestamosPorCarreraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiciosWeb" minOccurs="0" name="PrestamosPorCarreraResult" nillable="true" type="q3:ArrayOfDCantidadMensual3Columnas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrestamosPorTipoPersona">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Anual" type="xs:short" />
        <xs:element minOccurs="0" name="Modalidad" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="TipoPersona" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrestamosPorTipoPersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiciosWeb" minOccurs="0" name="PrestamosPorTipoPersonaResult" nillable="true" type="q4:ArrayOfDCantidadMensual3Columnas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>