SistemaBiblioteca/AppWeb/Service References/InformePrestamoServicio/InformePrestamoServicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InformePrestamoServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5587/Prestamo/InformePrestamoServicio.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5587/Prestamo/InformePrestamoServicio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5587/Prestamo/InformePrestamoServicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosWeb" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInformePrestamoServicio_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IInformePrestamoServicio_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IInformePrestamoServicio_PrestamosPorDepartamento_InputMessage">
    <wsdl:part name="parameters" element="tns:PrestamosPorDepartamento" />
  </wsdl:message>
  <wsdl:message name="IInformePrestamoServicio_PrestamosPorDepartamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrestamosPorDepartamentoResponse" />
  </wsdl:message>
  <wsdl:message name="IInformePrestamoServicio_PrestamosPorCarrera_InputMessage">
    <wsdl:part name="parameters" element="tns:PrestamosPorCarrera" />
  </wsdl:message>
  <wsdl:message name="IInformePrestamoServicio_PrestamosPorCarrera_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrestamosPorCarreraResponse" />
  </wsdl:message>
  <wsdl:message name="IInformePrestamoServicio_PrestamosPorTipoPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:PrestamosPorTipoPersona" />
  </wsdl:message>
  <wsdl:message name="IInformePrestamoServicio_PrestamosPorTipoPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrestamosPorTipoPersonaResponse" />
  </wsdl:message>
  <wsdl:portType name="IInformePrestamoServicio">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IInformePrestamoServicio/DoWork" message="tns:IInformePrestamoServicio_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInformePrestamoServicio/DoWorkResponse" message="tns:IInformePrestamoServicio_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrestamosPorDepartamento">
      <wsdl:input wsaw:Action="http://tempuri.org/IInformePrestamoServicio/PrestamosPorDepartamento" message="tns:IInformePrestamoServicio_PrestamosPorDepartamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInformePrestamoServicio/PrestamosPorDepartamentoResponse" message="tns:IInformePrestamoServicio_PrestamosPorDepartamento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrestamosPorCarrera">
      <wsdl:input wsaw:Action="http://tempuri.org/IInformePrestamoServicio/PrestamosPorCarrera" message="tns:IInformePrestamoServicio_PrestamosPorCarrera_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInformePrestamoServicio/PrestamosPorCarreraResponse" message="tns:IInformePrestamoServicio_PrestamosPorCarrera_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrestamosPorTipoPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/IInformePrestamoServicio/PrestamosPorTipoPersona" message="tns:IInformePrestamoServicio_PrestamosPorTipoPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInformePrestamoServicio/PrestamosPorTipoPersonaResponse" message="tns:IInformePrestamoServicio_PrestamosPorTipoPersona_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IInformePrestamoServicio" type="tns:IInformePrestamoServicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IInformePrestamoServicio/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrestamosPorDepartamento">
      <soap:operation soapAction="http://tempuri.org/IInformePrestamoServicio/PrestamosPorDepartamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrestamosPorCarrera">
      <soap:operation soapAction="http://tempuri.org/IInformePrestamoServicio/PrestamosPorCarrera" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrestamosPorTipoPersona">
      <soap:operation soapAction="http://tempuri.org/IInformePrestamoServicio/PrestamosPorTipoPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InformePrestamoServicio">
    <wsdl:port name="BasicHttpBinding_IInformePrestamoServicio" binding="tns:BasicHttpBinding_IInformePrestamoServicio">
      <soap:address location="http://localhost:5587/Prestamo/InformePrestamoServicio.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>