SistemaBiblioteca/CapaPresentacionAppNativaWindows/Service References/RecomendacionServicio/RecomendacionServicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RecomendacionServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5587/Recomendacion/RecomendacionServicio.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5587/Recomendacion/RecomendacionServicio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5587/Recomendacion/RecomendacionServicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosWeb" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRecomendacionServicio_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IRecomendacionServicio_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IRecomendacionServicio_Guardar_InputMessage">
    <wsdl:part name="parameters" element="tns:Guardar" />
  </wsdl:message>
  <wsdl:message name="IRecomendacionServicio_Guardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarResponse" />
  </wsdl:message>
  <wsdl:message name="IRecomendacionServicio_CantidadAnual_InputMessage">
    <wsdl:part name="parameters" element="tns:CantidadAnual" />
  </wsdl:message>
  <wsdl:message name="IRecomendacionServicio_CantidadAnual_OutputMessage">
    <wsdl:part name="parameters" element="tns:CantidadAnualResponse" />
  </wsdl:message>
  <wsdl:message name="IRecomendacionServicio_Busqueda_InputMessage">
    <wsdl:part name="parameters" element="tns:Busqueda" />
  </wsdl:message>
  <wsdl:message name="IRecomendacionServicio_Busqueda_OutputMessage">
    <wsdl:part name="parameters" element="tns:BusquedaResponse" />
  </wsdl:message>
  <wsdl:portType name="IRecomendacionServicio">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecomendacionServicio/DoWork" message="tns:IRecomendacionServicio_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecomendacionServicio/DoWorkResponse" message="tns:IRecomendacionServicio_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Guardar">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecomendacionServicio/Guardar" message="tns:IRecomendacionServicio_Guardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecomendacionServicio/GuardarResponse" message="tns:IRecomendacionServicio_Guardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CantidadAnual">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecomendacionServicio/CantidadAnual" message="tns:IRecomendacionServicio_CantidadAnual_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecomendacionServicio/CantidadAnualResponse" message="tns:IRecomendacionServicio_CantidadAnual_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Busqueda">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecomendacionServicio/Busqueda" message="tns:IRecomendacionServicio_Busqueda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecomendacionServicio/BusquedaResponse" message="tns:IRecomendacionServicio_Busqueda_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRecomendacionServicio" type="tns:IRecomendacionServicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IRecomendacionServicio/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Guardar">
      <soap:operation soapAction="http://tempuri.org/IRecomendacionServicio/Guardar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CantidadAnual">
      <soap:operation soapAction="http://tempuri.org/IRecomendacionServicio/CantidadAnual" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Busqueda">
      <soap:operation soapAction="http://tempuri.org/IRecomendacionServicio/Busqueda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RecomendacionServicio">
    <wsdl:port name="BasicHttpBinding_IRecomendacionServicio" binding="tns:BasicHttpBinding_IRecomendacionServicio">
      <soap:address location="http://localhost:5587/Recomendacion/RecomendacionServicio.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>