SistemaBiblioteca/CapaPresentacionAppNativaWindows/Service References/RecomendacionServicio/RecomendacionServicio2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5587/Recomendacion/RecomendacionServicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosWeb" />
  <xs:import schemaLocation="http://localhost:5587/Recomendacion/RecomendacionServicio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiciosWeb" minOccurs="0" name="Recomendacion" nillable="true" type="q1:DRecomendacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="GuardarResult" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CantidadAnual">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CantidadAnualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiciosWeb" minOccurs="0" name="CantidadAnualResult" nillable="true" type="q3:ArrayOfDCantidadMensual" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Busqueda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Inicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Fin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="NombreUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusquedaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiciosWeb" minOccurs="0" name="BusquedaResult" nillable="true" type="q4:ArrayOfDRecomendacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>