SistemaBiblioteca/CapaPresentacionAppNativaWindows/Service References/PaisServicio/PaisServicio1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PaisServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5587/Otros/PaisServicio.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5587/Otros/PaisServicio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5587/Otros/PaisServicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosWeb" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPaisServicio_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IPaisServicio_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IPaisServicio_Lista_InputMessage">
    <wsdl:part name="parameters" element="tns:Lista" />
  </wsdl:message>
  <wsdl:message name="IPaisServicio_Lista_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaResponse" />
  </wsdl:message>
  <wsdl:message name="IPaisServicio_Filtrar_InputMessage">
    <wsdl:part name="parameters" element="tns:Filtrar" />
  </wsdl:message>
  <wsdl:message name="IPaisServicio_Filtrar_OutputMessage">
    <wsdl:part name="parameters" element="tns:FiltrarResponse" />
  </wsdl:message>
  <wsdl:message name="IPaisServicio_Guardar_InputMessage">
    <wsdl:part name="parameters" element="tns:Guardar" />
  </wsdl:message>
  <wsdl:message name="IPaisServicio_Guardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarResponse" />
  </wsdl:message>
  <wsdl:message name="IPaisServicio_Editar_InputMessage">
    <wsdl:part name="parameters" element="tns:Editar" />
  </wsdl:message>
  <wsdl:message name="IPaisServicio_Editar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarResponse" />
  </wsdl:message>
  <wsdl:message name="IPaisServicio_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="IPaisServicio_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:message name="IPaisServicio_BuscarPorNombre_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPorNombre" />
  </wsdl:message>
  <wsdl:message name="IPaisServicio_BuscarPorNombre_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPorNombreResponse" />
  </wsdl:message>
  <wsdl:message name="IPaisServicio_BuscarPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPorId" />
  </wsdl:message>
  <wsdl:message name="IPaisServicio_BuscarPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPorIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IPaisServicio">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaisServicio/DoWork" message="tns:IPaisServicio_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaisServicio/DoWorkResponse" message="tns:IPaisServicio_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Lista">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaisServicio/Lista" message="tns:IPaisServicio_Lista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaisServicio/ListaResponse" message="tns:IPaisServicio_Lista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Filtrar">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaisServicio/Filtrar" message="tns:IPaisServicio_Filtrar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaisServicio/FiltrarResponse" message="tns:IPaisServicio_Filtrar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Guardar">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaisServicio/Guardar" message="tns:IPaisServicio_Guardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaisServicio/GuardarResponse" message="tns:IPaisServicio_Guardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Editar">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaisServicio/Editar" message="tns:IPaisServicio_Editar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaisServicio/EditarResponse" message="tns:IPaisServicio_Editar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaisServicio/Eliminar" message="tns:IPaisServicio_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaisServicio/EliminarResponse" message="tns:IPaisServicio_Eliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarPorNombre">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaisServicio/BuscarPorNombre" message="tns:IPaisServicio_BuscarPorNombre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaisServicio/BuscarPorNombreResponse" message="tns:IPaisServicio_BuscarPorNombre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaisServicio/BuscarPorId" message="tns:IPaisServicio_BuscarPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaisServicio/BuscarPorIdResponse" message="tns:IPaisServicio_BuscarPorId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPaisServicio" type="tns:IPaisServicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IPaisServicio/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Lista">
      <soap:operation soapAction="http://tempuri.org/IPaisServicio/Lista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Filtrar">
      <soap:operation soapAction="http://tempuri.org/IPaisServicio/Filtrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Guardar">
      <soap:operation soapAction="http://tempuri.org/IPaisServicio/Guardar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Editar">
      <soap:operation soapAction="http://tempuri.org/IPaisServicio/Editar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap:operation soapAction="http://tempuri.org/IPaisServicio/Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPorNombre">
      <soap:operation soapAction="http://tempuri.org/IPaisServicio/BuscarPorNombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPorId">
      <soap:operation soapAction="http://tempuri.org/IPaisServicio/BuscarPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaisServicio">
    <wsdl:port name="BasicHttpBinding_IPaisServicio" binding="tns:BasicHttpBinding_IPaisServicio">
      <soap:address location="http://localhost:5587/Otros/PaisServicio.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>