SistemaBiblioteca/CapaPresentacionAppNativaWindows/Service References/InventarioServicio/InventarioServicio1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InventarioServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5587/Catalogacion/InventarioServicio.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5587/Catalogacion/InventarioServicio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5587/Catalogacion/InventarioServicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosWeb" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInventarioServicio_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IInventarioServicio_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IInventarioServicio_Guardar_InputMessage">
    <wsdl:part name="parameters" element="tns:Guardar" />
  </wsdl:message>
  <wsdl:message name="IInventarioServicio_Guardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarResponse" />
  </wsdl:message>
  <wsdl:message name="IInventarioServicio_Editar_InputMessage">
    <wsdl:part name="parameters" element="tns:Editar" />
  </wsdl:message>
  <wsdl:message name="IInventarioServicio_Editar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarResponse" />
  </wsdl:message>
  <wsdl:message name="IInventarioServicio_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="IInventarioServicio_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:message name="IInventarioServicio_BuscarPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPorId" />
  </wsdl:message>
  <wsdl:message name="IInventarioServicio_BuscarPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="IInventarioServicio_BuscarPorRegistro_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPorRegistro" />
  </wsdl:message>
  <wsdl:message name="IInventarioServicio_BuscarPorRegistro_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPorRegistroResponse" />
  </wsdl:message>
  <wsdl:message name="IInventarioServicio_Busqueda_InputMessage">
    <wsdl:part name="parameters" element="tns:Busqueda" />
  </wsdl:message>
  <wsdl:message name="IInventarioServicio_Busqueda_OutputMessage">
    <wsdl:part name="parameters" element="tns:BusquedaResponse" />
  </wsdl:message>
  <wsdl:message name="IInventarioServicio_CopiasDeLibro_InputMessage">
    <wsdl:part name="parameters" element="tns:CopiasDeLibro" />
  </wsdl:message>
  <wsdl:message name="IInventarioServicio_CopiasDeLibro_OutputMessage">
    <wsdl:part name="parameters" element="tns:CopiasDeLibroResponse" />
  </wsdl:message>
  <wsdl:portType name="IInventarioServicio">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventarioServicio/DoWork" message="tns:IInventarioServicio_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventarioServicio/DoWorkResponse" message="tns:IInventarioServicio_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Guardar">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventarioServicio/Guardar" message="tns:IInventarioServicio_Guardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventarioServicio/GuardarResponse" message="tns:IInventarioServicio_Guardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Editar">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventarioServicio/Editar" message="tns:IInventarioServicio_Editar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventarioServicio/EditarResponse" message="tns:IInventarioServicio_Editar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventarioServicio/Eliminar" message="tns:IInventarioServicio_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventarioServicio/EliminarResponse" message="tns:IInventarioServicio_Eliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventarioServicio/BuscarPorId" message="tns:IInventarioServicio_BuscarPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventarioServicio/BuscarPorIdResponse" message="tns:IInventarioServicio_BuscarPorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarPorRegistro">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventarioServicio/BuscarPorRegistro" message="tns:IInventarioServicio_BuscarPorRegistro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventarioServicio/BuscarPorRegistroResponse" message="tns:IInventarioServicio_BuscarPorRegistro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Busqueda">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventarioServicio/Busqueda" message="tns:IInventarioServicio_Busqueda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventarioServicio/BusquedaResponse" message="tns:IInventarioServicio_Busqueda_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CopiasDeLibro">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventarioServicio/CopiasDeLibro" message="tns:IInventarioServicio_CopiasDeLibro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventarioServicio/CopiasDeLibroResponse" message="tns:IInventarioServicio_CopiasDeLibro_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IInventarioServicio" type="tns:IInventarioServicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IInventarioServicio/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Guardar">
      <soap:operation soapAction="http://tempuri.org/IInventarioServicio/Guardar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Editar">
      <soap:operation soapAction="http://tempuri.org/IInventarioServicio/Editar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap:operation soapAction="http://tempuri.org/IInventarioServicio/Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPorId">
      <soap:operation soapAction="http://tempuri.org/IInventarioServicio/BuscarPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPorRegistro">
      <soap:operation soapAction="http://tempuri.org/IInventarioServicio/BuscarPorRegistro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Busqueda">
      <soap:operation soapAction="http://tempuri.org/IInventarioServicio/Busqueda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CopiasDeLibro">
      <soap:operation soapAction="http://tempuri.org/IInventarioServicio/CopiasDeLibro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InventarioServicio">
    <wsdl:port name="BasicHttpBinding_IInventarioServicio" binding="tns:BasicHttpBinding_IInventarioServicio">
      <soap:address location="http://localhost:5587/Catalogacion/InventarioServicio.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>