SistemaBiblioteca/AppWeb/Service References/CarreraServicio/CarreraServicio1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/ServiciosWeb" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiciosWeb" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5587/Otros/CarreraServicio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfDCarrera">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DCarrera" nillable="true" type="tns:DCarrera" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDCarrera" nillable="true" type="tns:ArrayOfDCarrera" />
  <xs:complexType name="DCarrera">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdCarrera" type="ser:guid" />
      <xs:element minOccurs="0" name="N" type="xs:long" />
      <xs:element minOccurs="0" name="NombreCarrera" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DCarrera" nillable="true" type="tns:DCarrera" />
</xs:schema>