SistemaBiblioteca/CapaPresentacionAppNativaWindows/Service References/IdiomaServicio/IdiomaServicio1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IdiomaServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5587/Catalogacion/IdiomaServicio.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5587/Catalogacion/IdiomaServicio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5587/Catalogacion/IdiomaServicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosWeb" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIdiomaServicio_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IIdiomaServicio_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IIdiomaServicio_Guardar_InputMessage">
    <wsdl:part name="parameters" element="tns:Guardar" />
  </wsdl:message>
  <wsdl:message name="IIdiomaServicio_Guardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarResponse" />
  </wsdl:message>
  <wsdl:message name="IIdiomaServicio_Lista_InputMessage">
    <wsdl:part name="parameters" element="tns:Lista" />
  </wsdl:message>
  <wsdl:message name="IIdiomaServicio_Lista_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaResponse" />
  </wsdl:message>
  <wsdl:message name="IIdiomaServicio_BuscarPorDescripcion_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPorDescripcion" />
  </wsdl:message>
  <wsdl:message name="IIdiomaServicio_BuscarPorDescripcion_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPorDescripcionResponse" />
  </wsdl:message>
  <wsdl:message name="IIdiomaServicio_Existe_InputMessage">
    <wsdl:part name="parameters" element="tns:Existe" />
  </wsdl:message>
  <wsdl:message name="IIdiomaServicio_Existe_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExisteResponse" />
  </wsdl:message>
  <wsdl:portType name="IIdiomaServicio">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IIdiomaServicio/DoWork" message="tns:IIdiomaServicio_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIdiomaServicio/DoWorkResponse" message="tns:IIdiomaServicio_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Guardar">
      <wsdl:input wsaw:Action="http://tempuri.org/IIdiomaServicio/Guardar" message="tns:IIdiomaServicio_Guardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIdiomaServicio/GuardarResponse" message="tns:IIdiomaServicio_Guardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Lista">
      <wsdl:input wsaw:Action="http://tempuri.org/IIdiomaServicio/Lista" message="tns:IIdiomaServicio_Lista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIdiomaServicio/ListaResponse" message="tns:IIdiomaServicio_Lista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarPorDescripcion">
      <wsdl:input wsaw:Action="http://tempuri.org/IIdiomaServicio/BuscarPorDescripcion" message="tns:IIdiomaServicio_BuscarPorDescripcion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIdiomaServicio/BuscarPorDescripcionResponse" message="tns:IIdiomaServicio_BuscarPorDescripcion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Existe">
      <wsdl:input wsaw:Action="http://tempuri.org/IIdiomaServicio/Existe" message="tns:IIdiomaServicio_Existe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIdiomaServicio/ExisteResponse" message="tns:IIdiomaServicio_Existe_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IIdiomaServicio" type="tns:IIdiomaServicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IIdiomaServicio/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Guardar">
      <soap:operation soapAction="http://tempuri.org/IIdiomaServicio/Guardar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Lista">
      <soap:operation soapAction="http://tempuri.org/IIdiomaServicio/Lista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPorDescripcion">
      <soap:operation soapAction="http://tempuri.org/IIdiomaServicio/BuscarPorDescripcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Existe">
      <soap:operation soapAction="http://tempuri.org/IIdiomaServicio/Existe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IdiomaServicio">
    <wsdl:port name="BasicHttpBinding_IIdiomaServicio" binding="tns:BasicHttpBinding_IIdiomaServicio">
      <soap:address location="http://localhost:5587/Catalogacion/IdiomaServicio.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>